<section class="center-vertical">
    <h1>新規登録</h1>
	<form class="center-vertical" method="POST" action="/sign_up">
		<input class="vertical-space" type="text" placeholder="ユーザ名" name="user_name">
		<input class="vertical-space" type="password" placeholder="パスワード" name="password">
		<input class="vertical-space" type="password" placeholder="パスワードの確認" name="password_confirmation">
		<input class="vertical-space" type="submit" value="新規登録">
	</form>
</section>